{% extends "base.html" %}
{% block title %}
    登陆
{% endblock %}

{% block content %}
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                {% from 'bootstrap/form.html' import render_form %}
                {{ render_form(login_form) }}
            </div>
        </div>
    </div>
    {% from "macro.html" import render_flashed_message %}
    {{ render_flashed_message() }}
    {% include "footer.html" %}
{% endblock %}