{% extends "base.html" %}
{% from "blog/del_popup.html" import del %}
{% from "blog/lock_popup.html" import lock %}
{% block title %}
    主页
{% endblock %}

{% block content %}
    <div class="container-fluid wrapper">
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-10 offset-sm-1 mb-sm-2 my-sm-2">
                    <div class="row">
                        <div class="col-sm-5 col-6">
                            <h2>
                                {{ post.title }}
                            </h2>
                        </div>
                        {% if current_user.is_authenticated %}
                            <div class="col-sm-5 justify-content-end col-6 my-2">
                                <button class="btn btn-sm btn-outline-danger float-right"
                                        data-toggle="modal" data-target="#del_confirm">删除
                                </button>
                                <form action="{{ url_for('blog.edit_post', post_id=post.id) }}">
                                    <button type="submit" class="btn btn-sm btn-outline-primary float-right mr-2">编辑
                                    </button>
                                </form>
                                <button class="btn btn-sm btn-outline-primary float-right mr-2"
                                        data-toggle="modal" data-target="#lock_confirm">锁定
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <p>{{ post.body | safe | truncate(50, True) }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-6">
                            <small><a href="{{ url_for('blog.show_post', post_id=post.id) }}">Read More</a></small>
                        </div>
                        <div class="col-5 justify-content-end my-1">
                            <small style="float: right">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr/>
                    {% endif %}
                    {{ del(post.id) }}
                    {{ lock(post.id) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}