{% extends "base.html" %}
{% block title %}
    主页
{% endblock %}

{% block content %}
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                {% for post in posts %}
                    <h2 class="my-sm-2">{{ post.title }}</h2>
                    <p>{{ post.body | safe | truncate(50, True)}}</p>
                    <small><a href="{{ url_for('blog.show_post', post_id=post.id) }}">Read More</a></small>
                    <small style="float: right">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}