@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_f7g3a1vk1il.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_f7g3a1vk1il.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.svg#思源黑体-细') format('svg'); /* iOS 4.1- */
}

blockquote {
    background-size: 85px auto;
    background: #A32A5C url(../svg/quote.svg) no-repeat 20px 20px;
    padding: 40px 25px 25px 40px;
    font-size: 28px;
    line-height: 150%;
    font-family: 'webfont'!important;
    color: #FFFFFF;
}

.contain {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}