@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_f7g3a1vk1il.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_f7g3a1vk1il.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_f7g3a1vk1il.svg#思源黑体-细') format('svg'); /* iOS 4.1- */
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -10px;
}

.alert-message {
  color:#856404;
  background-color:#fff3cd;
  border-color:#ffeeba;
}

.error-content {
    width: 100%;
    margin: 0 auto;
    background-size: 85px auto;
    background: #9025B0 url(../svg/error.svg) no-repeat 20px 20px;
    padding: 40px 25px 25px 40px;
    font-size: 28px;
    line-height: 150%;
    font-family: 'webfont'!important;
    color: #FFFFFF;
}